<div>
<mat-card>
  <mat-card-content>
    <form fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Decode message</mat-label>
        <textarea
          [(ngModel)]="decode"
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
        ></textarea>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center"  fxLayoutGap="10px">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input name="password" [(ngModel)]="password" matInput />
        </mat-form-field>
        <div  fxLayoutGap="10px">
          <button mat-raised-button color="primary" (click)="encodeMessage()">
            <mat-icon>
              <span class="material-icons">
                south
              </span>
            </mat-icon>
          </button>
          <button mat-raised-button color="primary" (click)="decodeMessage()">
            <mat-icon>
              <span class="material-icons">
                north
              </span>
            </mat-icon>
          </button>
        </div>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Encode message</mat-label>
        <textarea
          [(ngModel)]="encode"
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
        ></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
</div>
